streamlit
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu  # or faiss-gpu if you're using a GPU
transformers
torch
sentence-transformers
pypdf